<header class="head">
  <nav class="navbar navbar-expand-sm  navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signup">Signup</a>
      </li>
    </ul>
  </nav>
</header>

<div class="banner">
  <div class="logo">
    <img src="../assets/images/lvk-logo.png" alt="">
  </div>
  <span class="text-white live-head"> LiveKampus</span>
  <span class="text-white live-social">-Social Networking Website</span>
  <p class="overview-text text-justify">
    LiveKampus is the best social networking app that specially designed for school campus students. It is one of the best platforms that allows you to share &amp; discover moments and list events
     and room spaces on and off campus. With LiveKampus, students who are actively 
     seeking to find the best room based on their interest can connect with individuals
      and get familiar with them before they meet in person. Students can even share 
      event happenings on the school campus, invite their friends to events, participate
       in the discussion and get updates of trending and upcoming events. One of the best
        parts of the app is, it allows you to make new friends, communicate with them 
        through chat and hang out with them for a coffee, dinner or probably a date and 
        much more. Discover moments, live shots, find the best room and create &amp; 
        promote events at one place. Just login now and explore the world.
    </p>
</div>